RewriteEngine On

# Se existir arquivo ou pasta, não reescreve
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Tudo vai para index.php
RewriteRule ^ index.php [QSA,L]
